body {
    padding: 0;
    text-align: center;
    background-image: url("https://raw.githubusercontent.com/codingmarket07/Newsletter/master/bg.jpg");
    color: whitesmoke;
}

textarea {
    text-align: center;
    display: block;
    transform: translateX(450px) translateY(10px);
}

button {
    transform: translateY(30px);
    
}
