<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Nodemail - Send Mail</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap" rel="stylesheet">
        <style>
            
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
h1, h3 {
    font-family: Poppins !important;
}
            body {
              font-family: Montserrat;
            }
            input {
                font-family: Montserrat;
            }
            button {
                font-family: Montserrat;
            }

            
            textarea {
                font-family: Montserrat;
            }
        </style>
    </head>
    <body>
      <h1>Nodemail</h1>
      <h3>Send an email!</h3>
      <form action="/" method="POST" class="form-control">
        <input type="text" placeholder="Enter provider..." name="provider" required>
        <input type="email" placeholder="Enter your email..." name="email" required>
        <input type="password" placeholder="Enter your email password..." name="password" required>
        
        <input type="email" placeholder="Enter the recipent's email..." name="friendEmail" required>

        <input type="text" name="subject" class="input" placeholder="Enter Subject...">
        <textarea cols="10" rows="10" placeholder="Type Message Here..." name="message"></textarea>
        <button type="submit">Submit</button>
      </form>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </body>
</html>